liventcordenv/

# Build directories
bin/
obj/
publish/
cache/
ytcache/

# Sensitive configuration files
appsettings.Development.json
appsettings.json

# Visual Studio specific files
*.suo
*.user
*.userprefs
*.sln.docstates
.vs/

# Temporary files
*.tmp
*.log
*.dSYM/
*.db
*.pdb



# Other potential files
global.json
