liventcordenv/

bin/
obj/
publish/
cache/
ytcache/
Migrations/
Logs/

appsettings.Development.json
appsettings.json

*.suo
*.user
*.userprefs
*.sln.docstates
.vs/

*.tmp
*.log
*.dSYM/
*.db
*.pdb



global.json
