services:
  app:
    build:
      context: .
      dockerfile: Dockerfile
    ports:
      - "5005:5005"
    environment:
      - ASPNETCORE_ENVIRONMENT=Development
      - AppSettings__SqlitePath=/app/data/liventcord.db
      - AppSettings__SqliteCachePath=/app/data/cache.db
      - AppSettings__FrontendUrl=http://localhost
      - AppSettings__RedisConnectionString=redis://redis:6379
    volumes:
      - ./data:/app/data
    networks:
      - shared_network
    depends_on:
      - redis
    extra_hosts:
      - "localhost:host-gateway"
    develop:
      watch:
        - action: rebuild
          path: .
          ignore:
            - ./server/
            - ./web/
            - ./data/
            - .git/

  ws-api:
    build:
      context: ./server
      dockerfile: ws-api/Dockerfile
    ports:
      - "8080:8080"
    networks:
      - shared_network
    depends_on:
      - redis
    environment:
      - RedisURI=redis://redis:6379
      - AppMode=debug
    extra_hosts:
      - "localhost:host-gateway"
    develop:
      watch:
        - action: rebuild
          path: ./server/ws-api
        - action: rebuild
          path: ./server/telemetry

  media-api:
    build:
      context: ./server
      dockerfile: media-api/Dockerfile
    ports:
      - "5000:5000"
    networks:
      - shared_network
    environment:
      - RedisURI=redis://redis:6379
      - AppMode=debug
    extra_hosts:
      - "localhost:host-gateway"
    volumes:
      - media-cache:/usr/local/bin/cache
    develop:
      watch:
        - action: rebuild
          path: ./server/media-api

  redis:
    image: redis:latest
    command: ["redis-server", "--save", "", "--appendonly", "no"]
    read_only: true
    ports:
      - "6379:6379"
    security_opt:
      - no-new-privileges:true
    networks:
      - shared_network
    extra_hosts:
      - "localhost:host-gateway"

  frontend:
    build:
      context: ./web
      dockerfile: Dockerfile
    ports:
      - "80:80"
    networks:
      - shared_network
    depends_on:
      - app
      - ws-api
    develop:
      watch:
        - action: rebuild
          path: ./web
          ignore:
            - ./web/node_modules/
            - ./web/dist/

networks:
  shared_network:
    driver: bridge

volumes:
  media-cache: