icrawler
pytube
pillow
requests
asyncio
discord
aiosqlite
environs
sqlalchemy
openapi-python-client
mypy
cairosvg; sys_platform == "linux"
wcwidth; sys_platform == "linux"
selenium; sys_platform in "linux darwin win32"