bin/
obj/
publish/
cache/
Migrations/
Logs/
Data/
appsettings.Development.json
appsettings.json
*.suo
*.user
*.userprefs
src/wwwroot/404/bodyend.js
src/wwwroot/app
src/appstats.json
LiventCord.sln
.vs/
.vscode/
.config/
*.tmp
*.log
*.dSYM/
*.db
*.pdb

*.env
proxy-api/MediaCache
src/wwwroot/assets
src/wwwroot/ts/
src/wwwroot/vendor/
src/wwwroot/images/
src/wwwroot/index.html
src/FileCache