.users-open {
    right: 50px !important;
}

#gifs-menu-line {
    top: 45px;
    left: 0%;
}







#gifsMenuSearchbar {
    width: 100%;
    color: white;
    font-size: 18px;
    height: 30px;
    border-radius: 3px;
    padding-left: 10px;
    margin-top: 10px;
    border: none;
    background-color: rgb(30, 31, 34);
    outline: none;
}

#mediaMenuSearchbar {
    width: 100%;
    color: white;
    font-size: 18px;
    height: 30px;
    border-radius: 3px;
    padding-left: 10px;
    margin-top: 10px;
    border: none;
    background-color: rgb(30, 31, 34);
    outline: none;
}

.gifs-menu-button {
    cursor: pointer;
    width: 60px;
    height: 25px;
    margin-right: 10px;
    border: none;
    color: white;
    border-radius: 5px;
    font-size: 15px;
    font-weight: 900;
    background-color: #41434a;
}

.media-menu-button {
    cursor: pointer;
    width: 60px;
    height: 25px;
    margin-right: 10px;
    border: none;
    color: white;
    border-radius: 5px;
    font-size: 15px;
    font-weight: 900;
    background-color: #41434a;
}

#media-menu-line {
    top: 45px;
    left: 0%;
}

#gifs-menu-emoji:hover,
#gifs-menu-gif:hover {
    background-color: #41434a;
}

.media-menu-button:hover {
    background-color: #41434a;
}

#emoji-container {
    display: grid;
    grid-template-columns: repeat(42, 80px);
    gap: 5px;
    width: 100%;
    max-width: 960px;
    background-color: white;
    border: 2px solid #ccc;
    border-radius: 10px;
    padding: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    overflow: hidden; /* Remove default overflow from this container */
    height: 500px;
}


#media-menu-container::-webkit-scrollbar {
    width: 5px;
}

#media-menu-container::-webkit-scrollbar-track {
    background: transparent;
}

#media-menu-container::-webkit-scrollbar-thumb {
    background-color: rgb(26, 27, 30);
    border-radius: 10px;
    border: transparent;
}

.emojis-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 10px;
    padding: 10px;
    width: 100%;
}
.emoji {
    background-image: url('/static/images/emojis.png');
    background-size: 3360px 3120px;
    width: 80px;
    height: 80px;
    transition: background-color 0.3s ease;
}

.emoji:hover {
    background-color: rgba(243, 186, 66, 0.3);
}

#gif-menu {
    overflow: hidden;
    width: 480px;
    height: 453px;
    display: none;
    border-radius: 10px;
    border: 0.1px solid rgb(39, 40, 44);
    background-color: #2b2d31;
    position: absolute;
    z-index: 5;
    right: 253px;
    bottom: 90px;
    padding: 15px;
    resize: both;
    max-width: 3020px;
    max-height: 3000px;
}







#media-menu {
    overflow: hidden;
    width: 480px;
    height: 453px;
    display: block;
    border-radius: 10px;
    border: 0.1px solid rgb(39, 40, 44);
    background-color: #2b2d31;
    position: absolute;
    z-index: 5;
    right: 253px;
    bottom: 90px;
    padding: 15px;
    cursor: pointer;
}

#media-menu-container {
    display: flex;
    flex-wrap: wrap;
    margin-top: 20px;
    justify-content: center;
    overflow-y: auto;
    max-height: calc(100% - 80px);
}

.gif-content {
    margin: 9px;
    max-width: 620px;
    max-height: 620px;
    border: 1px solid rgb(39, 40, 44);
    border-radius: 8px;
    overflow: hidden;
    background-color: #f0f0f0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-shrink: 0;
}

.gif-content img {
    width: 100%;
    height: auto;
    display: block;
    border-radius: 8px;
    object-fit: contain;
}

.gif-content:hover {
    transform: scale(1.05);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.media-menu-button {
    cursor: pointer;
    width: 60px;
    height: 25px;
    margin-right: 10px;
    border: none;
    color: white;
    border-radius: 5px;
    font-size: 15px;
    font-weight: 900;
    background-color: #41434a;
}

.media-menu-button:hover {
    background-color: #41434a;
}

#mediaMenuSearchbar {
    width: 100%;
    color: white;
    font-size: 18px;
    height: 30px;
    border-radius: 3px;
    padding-left: 10px;
    margin-top: 10px;
    border: none;
    background-color: rgb(30, 31, 34);
    outline: none;
}
