bin/
obj/
publish/
cache/
Migrations/
Logs/
Data/
appsettings.Development.json
appsettings.json
*.suo
*.user
*.userprefs
LiventCord.sln
.vs/
.vscode/
.config/
*.tmp
*.log
*.dSYM/
*.db
*.pdb
node_modules/

# Exclude build-copied files
wwwroot/app/* 
wwwroot/translations/*