bin/
obj/
publish/
cache/
Migrations/
Logs/
Data/
wwwroot/static/w
wwwroot/static/css/fullinvite.min.css
appsettings.Development.json
appsettings.json
*.suo
*.user
*.userprefs
LiventCord.sln
.vs/
.vscode/
.config/

*.tmp
*.log
*.dSYM/
*.db
*.pdb