#friendsTitleContainer {
  font-size: 0.875rem;
  color: oklab(0.786807 -0.0025776 -0.0110238);
  width: 50%;
  height: 60px;
  top: 112px;
  margin-left: 20px;
  position: absolute;
}
.dm-container {
  display: flex;
  align-items: center;
  position: relative;
  border-radius: 5px;
  right: 45px;
  top: 90px;
  margin-top: 10px;
  height: 40px;
  padding-left: 8px;
  width: 138%;
  gap: 10px;
}

.dm-profile-img {
  width: 32px;
  height: 32px;
  border-radius: 25px;
  position: relative;
}

.dm-bubble {
  position: absolute;
  width: 10px;
  height: 10px;
  background-color: red;
  border-radius: 50%;
  border: 2px solid #2f3136;
  z-index: 2;

  top: 24px;
  left: 27px;
}
.content {
  font-size: 15px;
  color: #949ba4;
  text-align: left;
  pointer-events: none;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  width: 70%;
}

#dm-profile-sign {
  width: 24px;
  height: 24px;
  top: 0.875rem;
  left: 328px;
  color: rgb(128, 132, 142);
  position: absolute;
  display: none;
}

#dm-profile-sign-bubble {
  position: absolute;
  left: 343px;
  top: 28px;
  display: flex;
}
body.black-theme .dm-container:hover {
  background-color: #1c1c1f;
}

.dm-container:hover {
  user-select: none;
  background-color: #35373c;
}

.dm-selected {
  background-color: #404249;
}

.dm-selected:hover {
  background-color: #35373c !important;
}

body.black-theme .dm-selected {
  background-color: #27272b;
}

body.black-theme .dm-selected:hover {
  background-color: #1d1d1e !important;
}

.dm-container:hover .close-dm-btn {
  display: flex;
}
.close-dm-btn {
  display: none;
  user-select: none;
  position: relative;
  line-height: 0.8;
  transform: scaleX(1.2);
  color: #949ba4;
}
#dms-title {
  white-space: nowrap;
  right: 35px;
  top: 100px;
  transform: scaleY(0.95);
  position: relative;
  font-size: 0.875rem;
  user-select: none;
  font-weight: bold;
  text-transform: uppercase;
  color: #949ba4;
}
.dm-container:hover .content {
  color: white;
}
.dm-selected:hover .content {
  color: white;
}
.dm-selected .content {
  color: white;
}

.offline {
  filter: brightness(60%);
}

#channel-info-container-for-friend {
  background-color: #313338;
  color: #ffffff;
  position: fixed;
  padding-left: 210px;
  top: 0.875rem;
  width: calc(100% - 190px);
  display: flex;
  z-index: 2;
}
#channel-info-for-friend {
  user-select: none;
  position: relative;
  right: 20px;
  font-weight: bold;
  padding: 5px;
}

.messagetext {
  position: absolute;
  margin-top: 0.875rem;
  margin-left: 25px;
  animation: moveUp 10s ease forwards;
  color: red;
  user-select: none;
  pointer-events: none;
}
@keyframes moveUp {
  0% {
    margin-top: 0.875rem;
    opacity: 1;
  }
  100% {
    margin-top: -200px;
    opacity: 0;
  }
}

#friend-icon-sign {
  top: 0px;
  margin-left: 165px;
  z-index: 2;
}
#open-friends-button {
  color: white;
  background-color: #248046;
}
#open-friends-button:hover {
  background-color: rgb(56, 136, 56);
}

#preview-close-button {
  z-index: 11;
  top: 200px;
  right: 200px;
  width: 80px;
  height: 80px;
  background-color: #464646;
  font-size: 50px;
  border-radius: 45%;
  position: absolute;
}

#users-list-button,
#closeUsersButton {
  position: absolute;
  width: 40px;
  height: 40px;
  cursor: pointer;
  font-size: 25px;
  background-color: #424242;
  right: 0px;
  z-index: 6;
}

.description-rectangle {
  margin-top: -100px;
  background-color: #000000cc;
  position: fixed;
  padding: 13px 6px;
  border-radius: 5px;
}
.description-rectangle-text {
  color: white;
  font-size: 14px;
  white-space: nowrap;
}
#nowonline {
  font-size: 20px;
  margin-top: 5px;
  margin-left: -160px;
}
#activity-detail {
  font-size: 16px;
  margin-top: 20px;
  margin-left: -175px;
  text-align: center;
}
#activity-detail-2 {
  font-size: 14px;
  width: 150%;

  margin-top: -10px;
  margin-left: -155px;
  color: #b5bac1;
  font-weight: 20;
  text-align: center;
}
.activity-card {
  cursor: pointer;
  background-color: rgb(30, 31, 34);
  display: flex;
  align-items: center;
  padding: 10px;
  box-shadow: inset 0 4px 8px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  margin-top: 10px;
  margin-left: -160px;
  cursor: pointer;
  width: 152%;
  height: 46px;
}
.activity-card:first-of-type {
  margin-top: -28px;
}
.activity-card-avatar {
  border-radius: 50%;
  width: 30px;
  height: 30px;
  margin-right: 10px;
}
.activity-card-content {
  display: flex;
  align-items: center;
}
.activity-card-nick {
  font-size: 16px;
  margin-top: -6px;
  margin-left: 2px;
}
.activity-card-title {
  font-weight: lighter;
  color: #b3b8bf;
  font-size: 14px;
  margin-top: 20px;
  margin-left: -70px;
}
.activity-card-icon {
  border-radius: 10px;
  width: 30px;
  height: 30px;
  margin-left: auto;
}
