@media screen and (max-width: 768px) {
  #emojibtn:not(.send-active) {
    right: 5px !important;
  }
  #emojibtn.send-active {
    right: 30px !important;
  }

  #gifbtn:not(.send-active) {
    right: 50px !important;
  }
  #gifbtn.send-active {
    right: 80px !important;
  }

  #file-button {
    left: 10px;
  }
  #image-preview-container {
    position: fixed;
    top: 0;
    left: 0;
  }
}

.users-open {
  right: 50px !important;
}
#gifs-menu-line {
  top: 45px;
  left: 0%;
}
#gifsMenuSearchbar {
  width: 100%;
  color: white;
  font-size: 18px;
  height: 30px;
  border-radius: 3px;
  padding-left: 10px;
  margin-top: 10px;
  border: none;
  background-color: rgb(30, 31, 34);
  outline: none;
}
.gifs-menu-button {
  cursor: pointer;
  width: 60px;
  height: 25px;
  margin-right: 10px;
  border: none;
  color: white;
  border-radius: 5px;
  font-size: 15px;
  font-weight: 900;
  background-color: #41434a;
}
.media-menu-button {
  cursor: pointer;
  width: 60px;
  height: 25px;
  margin-right: 10px;
  border: none;
  color: white;
  border-radius: 5px;
  font-size: 15px;
  font-weight: 900;
  background-color: #41434a;
  transition:
    transform 0.2s ease,
    background-color 0.2s ease;
}

.media-menu-button:hover {
  background-color: #52575d;
  transform: scale(1.1);
}

#category-name {
  color: white;
  font-size: 20px;
  margin-left: 40px;
  margin-top: 7px;
  pointer-events: none;
}
#gifsBackBtn {
  display: none;
  border: none;
  background: transparent;
  color: #b9b9bf;
  margin-top: -53px;
  font-size: 1.35em;
  width: 50px;
  height: 50px;
}
#gifsBackBtn :hover {
  color: white;
}
#media-menu-line {
  top: 45px;
  left: 0%;
}
#gifs-menu-emoji:hover,
#gifs-menu-gif:hover {
  background-color: #41434a;
}

.emoji-category {
  margin-bottom: 30px;
}

.category-title {
  font-size: 18px;
  font-weight: bold;
  color: #ffffff;
  margin-bottom: 10px;
}

.emojis-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 10px;
  width: 100%;
}

.emoji {
  background-image: url("https://liventcord.github.io/LiventCord/app/images/emojis.webp");
  background-size: 1680px 1560px;
  width: 40px;
  height: 40px;
  transition: background-color 0.3s ease;
  display: inline-block;
  margin: 2px;
}

.emoji.builtin-emoji {
  display: inline-block;
  background-repeat: no-repeat;
  vertical-align: middle;
}

#media-menu-container::-webkit-scrollbar {
  width: 5px;
}
#media-menu-container::-webkit-scrollbar-track {
  background: transparent;
}
#media-menu-container::-webkit-scrollbar-thumb {
  background-color: rgb(26, 27, 30);
  border-radius: 10px;
  border: transparent;
}

.emoji:hover {
  background-color: rgba(243, 186, 66, 0.3);
}
#gif-menu {
  overflow: hidden;
  width: 480px;
  height: 453px;
  display: none;
  border-radius: 10px;
  border: 0.1px solid rgb(39, 40, 44);
  background-color: #2b2d31;
  position: absolute;
  z-index: 5;
  right: 253px;
  bottom: 90px;
  padding: 15px;
  resize: both;
  max-width: 3020px;
  max-height: 3000px;
}

#media-menu {
  overflow: hidden;
  width: 480px;
  height: 453px;
  display: block;
  border-radius: 10px;
  border: 0.1px solid rgb(39, 40, 44);
  background-color: #2b2d31;
  position: absolute;
  z-index: 5;
  right: 253px;
  bottom: 90px;
  padding: 15px;
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}

@media (max-width: 600px) {
  #media-menu {
    flex-direction: row;
    justify-content: space-between;
  }

  .media-menu-button {
    flex: 1 1 30%;
    height: 40px;
    font-size: 16px;
    width: 120px;
    margin-top: 5px;
  }

  #gif-menu,
  #media-menu {
    left: 0 !important;
    bottom: 10px;
    padding: 5px;
    width: 100% !important;
    height: 50vh !important;
  }
  .emojis-container {
    padding: 10px;
  }

  .embed-container {
    margin-top: 30px !important;
    margin-left: -60px;
    margin-right: 40px;
  }
}

#media-menu-container {
  display: flex;
  flex-wrap: wrap;
  margin-top: 20px;
  justify-content: center;
  overflow-y: auto;
  overflow-x: hidden;
  max-height: calc(100% - 80px);
}

.gif-content {
  margin: 9px;
  max-width: 320px;
  max-height: 320px;
  border: 1px solid rgb(39, 40, 44);
  border-radius: 8px;
  overflow: hidden;
  background-color: #f0f0f0;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  flex-shrink: 0;
}

.gif-content img {
  width: auto;
  height: auto;
  max-width: 100%;
  max-height: 100%;
  display: block;
  border-radius: 8px;
  object-fit: contain;
}

.gif-content:hover {
  transform: scale(1.05);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

#media-menu-search-bar {
  width: 90%;
  color: white;
  font-size: 18px;
  height: 30px;
  border-radius: 3px;
  padding-left: 10px;
  margin-top: 10px;
  border: none;
  background-color: #1e1f22;
  outline: none;
}
.search-bar-gif {
  margin-left: 50px;
  width: 90%;
}
body.black-theme #media-menu-search-bar {
  background-color: #212126 !important;
}

.category-box {
  display: inline-block;
  width: 200px;
  height: 200px;
  margin: 10px;
  cursor: pointer;
  position: relative;
  overflow: hidden;
}
.category-box:hover {
  background-color: #333;
}
.gif-category-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: opacity 0.3s ease-in-out;
}
.gif-overlay {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.8);
  transition: opacity 0.3s ease-in-out;
}
.gifCategoryCaption {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 30px;
  color: white;
  font-weight: bold;
}
.category-box:hover .gif-overlay {
  opacity: 0;
}
.category-box:hover .gif-category-image {
  opacity: 0.7;
}
#backButton {
  display: none;
  position: absolute;
  top: 20px;
  left: 20px;
  padding: 10px;
  background-color: #333;
  cursor: pointer;
}
#backButton:hover {
  background-color: #555;
}
#gifbtn,
.emojibtn-base {
  bottom: -30px;
  z-index: 2;
  position: absolute;
  border: none;
}
#gifbtn {
  background-color: rgb(218, 224, 246);
  font-weight: bold;
  text-indent: -2px;
  right: 260px;
  border-radius: 2px;
  bottom: 12px;
  width: 25px;
  height: 25px;
  transition: background-color 0.3s ease;
}

#gifbtn:hover {
  background-color: white;
  animation: shake 0.5s ease-in-out;
}

#friend-icon-sign :hover {
  animation: shake 0.5s ease-in-out;
}
#friendiconsvg :hover {
  animation: shake 0.5s ease-in-out;
}
@keyframes shake {
  0% {
    transform: rotate(0deg);
  }
  25% {
    transform: rotate(-5deg);
  }
  50% {
    transform: rotate(5deg);
  }
  75% {
    transform: rotate(-5deg);
  }
  100% {
    transform: rotate(0deg);
  }
}

#gifbtn.gifbtn-user-list-open {
  right: 55px;
}
#emojibtn.emojibtn-user-list-open {
  right: 10px;
}
#emojibtn {
  right: 280px;
  bottom: 0px;
  width: 48px;
  height: 48px;
  background-image: url("https://liventcord.github.io/LiventCord/app/images/preview-emojis.webp");
  background-size: 960px 192px;
  margin: 2px;
  border-radius: 50%;
  transition:
    transform 0.3s ease,
    filter 0.3s ease;
  transform: scale(0.5);
  background-color: transparent;
  filter: brightness(2.8);
}
#sendbtn {
  right: -10px;
  bottom: -25px;
  width: 48px;
  height: 48px;
  margin: 2px;
  border-radius: 50%;
  transition: color 0.3s ease;
  background-color: transparent;
  transform: scale(1.5);
  color: rgb(57, 58, 65);
}

#sendbtn.sendbtn-active {
  color: #7a8ef9;
}

#emojibtn.hovered {
  animation: wiggle 0.3s ease forwards;
  filter: sepia(1) saturate(12) hue-rotate(30deg) brightness(1.5);
  background-color: transparent;
}

@keyframes wiggle {
  0% {
    transform: rotate(0deg) scale(0.7);
  }
  25% {
    transform: rotate(10deg) scale(0.7);
  }
  50% {
    transform: rotate(-10deg) scale(0.7);
  }
  75% {
    transform: rotate(5deg) scale(0.7);
  }
  100% {
    transform: rotate(0deg) scale(0.7);
  }
}

.json-element {
  user-select: "text";
  white-space: "pre-wrap";
}

.embed-video {
  max-width: 500px;
}
.video-container {
  position: relative;
  width: 100%;
  max-width: 560px;
  aspect-ratio: 16 / 9;
  margin-top: 10px;
  margin-left: -10px;
  overflow: hidden;
  background: black;
}

.video-container video {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.download-button {
  position: absolute;
  top: 10px;
  right: 10px;
  width: 1em;
  height: 1em;
  background-color: rgba(0, 0, 0, 0.5);
  color: white;
  padding: 8px 12px;
  border-radius: 5px;
  text-align: center;
  display: none;
}

.download-button.visible {
  display: block;
}

.download-button .icon {
  font-size: 1em;
  color: white;
}
.video {
  display: flex;
}
.embed-container {
  border-radius: 5px;
  padding: 15px;
  font-size: 14px;
  margin-top: 10px;
  border-left: 4px solid rgb(30, 31, 34);
  background-color: rgb(43, 45, 49);
}
.url-link {
  color: #02a8fc;
  cursor: pointer;
}

.chat-emoji {
  height: 38px;
  vertical-align: middle;
  padding: 6px;
}

.attachment-preview-file {
  width: 120px;
  height: 120px;
  color: gray;
  margin-left: 40px;
}

.attachment-file-container {
  display: flex;
  align-items: flex-start;
  gap: 10px;
  margin-top: 10px;
  background-color: oklab(0.350188 0.00196286 -0.0120083);
  width: 300px;
  height: auto;
  padding: 10px;
  border-radius: 8px;
}

.attachment-file {
  width: 40px;
  height: 40px;
  color: #b9b8b8;
  flex-shrink: 0;
}

.attachment-text {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.attachment-title {
  font-weight: 600;
  font-size: 14px;
  color: #02a8fc;
}

.attachment-size {
  font-size: 12px;
  color: oklab(0.751847 0.00128341 -0.00849503);
  margin-top: 4px;
}

#preview-author {
  position: absolute;
  top: 20px;
  left: 20px;
  display: flex;
  align-items: flex-start;
  z-index: 1;
}

.preview-avatar {
  width: 40px;
  height: 40px;
  margin-right: 10px;
}

.preview-text {
  display: flex;
  flex-direction: column;
}

.line-one {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}

#preview-nick {
  font-size: 17px;
  color: white;
  margin-right: 30px;
}

#preview-content {
  font-size: 16px;
  color: #767676;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  width: 70vw;
}

#preview-date {
  font-size: 12px;
  color: #767676;
  margin-top: 4px;
}

@media (max-width: 600px) {
  #preview-content {
    position: fixed;
    bottom: 60px;
    left: 20px;
    right: 20px;
    max-width: unset;
    padding: 8px 12px;
    z-index: 1000;
  }
}

#image-preview-container {
  position: absolute;
  z-index: 10;
  width: 100%;
  height: 100%;
  display: none;
  justify-content: center;
  align-items: center;
  background-color: #050505cc;
}

#json-preview-container {
  position: fixed;
  z-index: 10;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: none;
  justify-content: center;
  align-items: center;
  background-color: #050505cc;
  padding: 20px;
}
#json-preview-element {
  position: relative;
  z-index: 15;
  user-select: text;
  padding: 30px;
  color: white;
  max-width: 50%;
  max-height: 60%;
  overflow: auto;
}
#json-preview-element::-webkit-scrollbar {
  width: 6px;
}
#json-preview-element::-webkit-scrollbar-thumb {
  background-color: #212222;
  border-radius: 6px;
}
#json-preview-element::-webkit-scrollbar-track {
  background-color: #2b2d31;
}

:root {
  --interactive-normal: #fff;
}

.actions-container {
  display: flex;
  gap: 10px;
  position: absolute;
  bottom: 10px;
  left: 50%;
  transform: translateX(-50%);
  background: #1e1f22;
  padding: 8px;
  border-radius: 8px;
}
.details-container {
  display: flex;
  position: absolute;
  top: 10px;
  left: 90%;
  width: 200px;
  height: auto;
  transform: translateX(-50%);
  background: #1e1f22;
  border-radius: 8px;
  padding: 10px;
  flex-direction: column;
}

@media (max-width: 600px) {
  .details-container {
    width: 150px;
    left: 78%;
    top: 5%;
    transform: translateX(-50%);
  }
}

.details-blob {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  width: 100%;
  margin-bottom: 10px;
}

.details-container-title {
  color: white;
}

.details-container-description {
  color: #767676;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  display: block;
  width: 100%;
}

#details-container-description-1 {
  max-width: 100%;
}

#details-container-description-2 {
  max-width: 100%;
}

.actions-container button {
  background: none;
  border: none;
  cursor: pointer;
  padding: 6px;
}

.actions-container button svg {
  width: 24px;
  height: 24px;
  fill: var(--interactive-normal);
}

#preview-image.zoomed {
  transform: scale(2) !important;
}
#preview-image {
  max-width: 80%;
  max-height: 80%;
  border-radius: 12px;
  animation: 0.2s forwards preview-image-animation;
  transition: transform 0.3s ease;
  transform-origin: center center;
}

#preview-image.spoilered {
  filter: blur(12px);
  position: relative;
}

#preview-image.spoilered::after {
  content: "SPOILER";
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  font-weight: bold;
  text-shadow: 0 0 4px rgba(0, 0, 0, 0.8);
  pointer-events: none;
}

.spoiler-text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  font-weight: bold;
  text-shadow: 0 0 4px rgba(0, 0, 0, 0.8);
  pointer-events: none;
}

.image-container:hover .spoiler-text {
  background-color: rgba(0, 0, 0, 0.9);
}
@keyframes preview-image-animation {
  0% {
    transform: scale(0.4);
  }
  100% {
    transform: scale(1);
  }
}

@keyframes preview-image-disappear-animation {
  0% {
    transform: scale(1);
    opacity: 1;
  }
  100% {
    transform: scale(0.4);
    opacity: 0;
  }
}

#preview-image.zoomed {
  position: absolute;
  cursor: grab;
}
