#settings-unsaved-popup {
  display: none;
  white-space: nowrap;
  font-size: 17px;
  bottom: 50px;
  left: 50%;
  transform: translateX(-50%);
  position: absolute;
  width: 455px;
  z-index: 50;
  padding: 15px 100px;
  border: none;
  border-radius: 5px;
  background-color: #0f0f0f;
  color: #fff;
  animation: slide-up 0.5s ease-in-out forwards;
}

#settings-unsaved-popup.slide-out {
  animation: slide-down 0.5s ease-in-out forwards;
}

@keyframes slide-up {
  from {
    transform: translate(-50%, 100%);
  }
  to {
    transform: translate(-50%, 0);
  }
}

@keyframes slide-down {
  from {
    transform: translate(-50%, 0);
  }
  to {
    transform: translate(-50%, 300%);
  }
}

@media (max-width: 600px) {
  #settings-unsaved-popup {
    width: 90%;
    height: auto;
    font-size: 12px;
    padding: 15px 10px;
    white-space: wrap;
  }
  #settings-unsaved-popup-applybutton {
    font-size: 1em;
  }
  #settings-unsaved-popup-text {
    width: 40%;
    margin-left: 0px !important;
  }
  #guildImg {
    top: 180px !important;
  }
  #profile-popup-bottom-container {
    height: 47% !important;
    top: 75% !important;
    width: 94% !important;
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(-100px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
@keyframes fadeOut {
  from {
    opacity: 1;
    transform: translateY(0);
  }
  to {
    opacity: 0;
    transform: translateY(-100px);
  }
}
.pop-button-container {
  bottom: 0;
  width: 100%;
  height: 38%;
  position: fixed;
  background-color: #2b2d31;
  z-index: 2;
}
.pop-up {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #2f3136;
  border-radius: 10px;
  animation: pop-up-animation 0.3s forwards;
  overflow: hidden;
  display: flex;
  flex-direction: column;
}
.pop-up-content::-webkit-scrollbar {
  width: 5px;
}
.pop-up-content::-webkit-scrollbar-track {
  background: transparent;
}
.pop-up-content::-webkit-scrollbar-thumb {
  background-color: rgb(26, 27, 30);
  border-radius: 10px;
  border: transparent;
}
#guild-pop-up {
  animation: guild-pop-up-animation 0.3s forwards;
  display: flex;
  justify-content: center;
  text-align: center;
}

@keyframes guild-pop-up-animation {
  0% {
    width: 0;
    height: 0;
  }
  100% {
    width: 40vw;
    height: 60vh;
  }
}
@keyframes guild-pop-up-create-guild-animation {
  0% {
    width: 0;
    height: 0;
  }
  100% {
    width: 440px;
    height: 360px;
  }
}
@keyframes guild-pop-up-join-guild-animation {
  0% {
    width: 0;
    height: 0;
  }
  100% {
    width: 440px;
    height: 425px;
  }
}

@keyframes pop-up-animation {
  0% {
    width: 0;
    height: 0;
  }
  100% {
    width: 30vw;
    height: 35vh;
  }
}

@keyframes pop-up-animation-profile {
  0% {
    width: 0;
    height: 0;
  }
  100% {
    width: 30vw;
    height: 83vh;
  }
}

@keyframes pop-up-animation-invite {
  0% {
    width: 0;
    height: 0;
  }
  100% {
    width: 440px;
    height: 455px;
  }
}
@keyframes pop-up-animation-channel {
  0% {
    width: 0;
    height: 0;
  }
  100% {
    width: 460px;
    height: 505px;
  }
}
@keyframes pop-up-shrink-animation {
  0% {
    width: 440px;
    height: 205px;
  }
  100% {
    width: 0;
    height: 0;
    padding: 0;
    margin: 0;
  }
}
@keyframes pop-up-animation-password {
  0% {
    width: 0;
    height: 0;
  }
  100% {
    width: 440px;
    height: 450px;
  }
}
.panel-status-profile-titles {
  margin-top: 150px !important;
  margin-right: 73px !important;
}
@media (max-width: 600px) {
  #private-channel-icon {
    bottom: 167px !important;
  }
  .radio-bar {
    margin-top: -58px;
  }
  #create-channel-name {
    padding-top: 170px;
  }
  #channel-icon {
    margin-top: 341px;
  }

  .pop-up {
    padding: 10px;
  }
  @keyframes pop-up-animation {
    0% {
      width: 0;
      height: 0;
    }
    100% {
      width: 95%;
      height: 60vh;
    }
  }
  @keyframes pop-up-animation-profile {
    0% {
      width: 0;
      height: 0;
    }
    100% {
      width: 100vw;
      height: 80vh;
    }
  }
  @keyframes guild-pop-up-animation {
    0% {
      width: 0;
      height: 0;
    }
    100% {
      width: 95%;
      height: 60vh;
    }
  }
  @keyframes guild-pop-up-create-guild-animation {
    0% {
      width: 0;
      height: 0;
    }
    100% {
      width: 95%;
      height: 60vh;
    }
  }
  @keyframes guild-pop-up-join-guild-animation {
    0% {
      width: 0;
      height: 0;
    }
    100% {
      width: 95%;
      height: 60vh;
    }
  }
  @keyframes pop-up-animation-channel {
    0% {
      width: 0;
      height: 0;
    }
    100% {
      width: 95%;
      height: 80vh;
    }
  }

  @keyframes pop-up-animation-invite {
    0% {
      width: 0;
      height: 0;
    }
    100% {
      width: 90%;
      height: 50vh;
    }
  }
}

.pop-up-content {
  color: white;
  overflow-y: scroll;
  padding: 10px;
  margin-top: 50px;
  margin-bottom: 80px;
}

.pop-up-subject {
  font-size: 24px;
  z-index: 3;
  left: 20px;
  top: -10px;
  font-weight: bold;
  width: 90%;
  color: white;
  white-space: pre-wrap;
  overflow: hidden;
  position: fixed;
  text-align: center;
  width: 90%;
  margin-top: 20px;
}
.pop-up-accept.inactive {
  background-color: #3b428a;
  color: #8a8b90;
  cursor: auto;
}
.pop-up-accept.active {
  background-color: #5865f2;
  cursor: pointer;
}
.pop-up-accept {
  font-size: 16px;
  width: 25%;
  height: 40px;
  white-space: nowrap;
  background-color: #5865f2;
  color: wheat;
  border: none;
  border-radius: 3px;
  cursor: pointer;
  position: fixed;
  z-index: 1;
  top: 80%;
  left: 84%;
  transition: background-color 0.3s ease;
  transform: translate(-50%, -50%);
}
#private-channel-icon {
  position: absolute;
  bottom: 155px !important;
  left: 18px;
  z-index: 1;
}
.pop-up-refuse {
  font-size: 18px;
  width: 20%;
  height: 23%;
  background-color: transparent;
  color: white;
  border: none;
  border-radius: 3px;
  cursor: pointer;
  position: fixed;
  z-index: 1;
  top: 80%;
  left: 45%;
  transition: background-color 0.3s ease;
  transform: translate(-50%, -50%);
}
.popup-close {
  color: gray;
  top: 0px;
  right: 0px;
  left: auto;
  width: 50px;
  height: 50px;
  font-size: 22px;
  border: none;
  background-color: transparent;
  position: fixed;
  cursor: pointer;
}
.popup-close:hover {
  color: lightgray;
}
.pop-up-accept:hover {
  background-color: #4750bb;
}
.guild-pop-button-container {
  bottom: 0%;
  width: 100%;
  height: 18.5%;
  position: fixed;
  background-color: #2b2d31;
  display: flex;
  justify-content: center;
  text-align: center;
}
#inviteUsersPopContainer {
  bottom: 0px;
  width: 100%;
  height: 38%;
  position: fixed;
  background-color: #313338;
}
#inviteUsersPopContainer {
  animation: pop-up-animation-invite 0.3s forwards;
}
#profilePopContainer {
  bottom: 0px;
  width: 100%;
  height: 38%;
  position: fixed;
  background-color: rgb(17, 18, 20);
  animation: pop-up-animation-profile 0.3s forwards;
}
#createChannelPopContainer {
  bottom: 0px;
  width: 100%;
  height: 38%;
  position: fixed;
  background-color: #313338;
}
#createChannelPopContainer {
  animation: pop-up-animation-channel 0.3s forwards;
}
.notify-info-container {
  width: auto;
  min-width: 300px;
  max-width: 90%;
  height: auto;
  background-color: #312e2e;
  z-index: 15;
  border-radius: 25px;
  position: fixed;
  top: 50px;
  left: 50%;
  transform: translateX(-50%);
  padding: 10px 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  animation: moveAndFade 9s forwards;
}
.notify-info-message {
  color: #ffffff;
  font-size: calc(16px + 1vw);
  white-space: normal;
  z-index: 25;
  position: relative;
  top: 0;
  left: 0;
  transform: none;
  width: 100%;
  overflow: hidden;
  text-overflow: ellipsis;
}
@keyframes moveAndFade {
  0% {
    left: -900px;
    opacity: 1;
  }
  40% {
    left: 50%;
    opacity: 1;
    transform: translateX(-50%);
    animation-timing-function: cubic-bezier(0.25, 0.1, 0.25, 1);
  }
  60% {
    left: 50%;
    opacity: 1;
    transform: translateX(-50%);
  }
  100% {
    left: 150%;
    opacity: 0;
    transform: translateX(-50%);
  }
}
#create-channel-title {
  color: white;
  font-size: 20px;
  padding: 0px 20px;
  padding-left: 20px;
  font-weight: bold;
}
#channel-type-icon {
  color: gray;
  font-size: 25px;
  padding: 0px 10px;
  font-weight: bold;
}
#channel-type-title {
  color: white;
  margin-left: 45px;
  margin-top: -75px;
  font-weight: bold;
}
#channel-type-description {
  color: rgb(181, 186, 193);
  font-size: 14px;
  filter: opacity(0.8);
  margin-left: 45px;
  margin-top: -10px;
  width: 80%;
}
#private-channel-toggle,
#private-channel-text {
  color: white;
  position: absolute;
  margin-left: 35px;
  margin-top: 360px;
  z-index: 1;
  font-weight: bold;
}
.radio-bar {
  justify-content: flex-end;
  display: flex;
  padding: 0 10px;
  margin-top: -38px;
}

.guild-pop-up-subject {
  font-size: 24px;
  font-weight: bold;
  color: white;
  position: fixed;
  top: 5%;
  left: 50%;
  white-space: nowrap;
  transform: translate(-50%, -50%);
}
.guild-pop-up-content {
  text-align: center;
  font-size: 16px;
  color: #c2bebe;
  position: fixed;
  top: 18%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 80%;
}
#guild-popup-option2-title {
  color: white;
  margin-top: 0px;
  margin-left: 0px;
  z-index: 1;
  font-size: 20px;
}
.guild-pop-up-accept {
  font-size: 18px;
  width: 93%;
  height: 13%;
  background-color: #4e5058;
  color: white;
  border: none;
  border-radius: 3px;
  cursor: pointer;
  position: fixed;
  top: 80%;
  left: 50%;
  transition: background-color 0.3s ease;
  transform: translate(-50%, -50%);
}
.popup-bottom-container {
  font-size: 18px;
  width: 93%;
  height: 8%;
  background-color: #2b2d31;
  color: white;
  border: none;
  border-radius: 10px;
  position: fixed;
  top: 90%;
  left: 50%;
  transition: background-color 0.3s ease;
  transform: translate(-50%, -50%);
}
#invite-popup-bottom-container {
  height: 24.5%;
  top: 87.5%;
  width: 100%;
}
#profile-popup-bottom-container {
  height: 53%;
  top: 73.5%;
  width: 94.5%;
  border-radius: 10px;
  background-color: rgb(35 37 40);
}
#profile-popup-top-container {
  height: 27%;
  top: 13.4%;
  display: flex;
  border-radius: 15px 15px 5 5;
  align-items: right;
  justify-content: right;
  width: 100%;
}
#create-channel-popup-bottom-container {
  height: 14%;
  top: 93%;
  width: 100%;
}
#popOptionButton {
  border: 1px solid gray;
  top: 40%;
  background-color: transparent;
}
#popOptionButton2 {
  width: 100%;
  font-size: 14px;
  height: 83%;
  top: 44px;
  transition: filter 0.2s ease;
  filter: brightness(100%);
}
#popOptionButton2:hover {
  filter: brightness(140%);
}
#settings-unsaved-popup-text {
  margin-left: -85px;
}
#settings-unsaved-popup-resetbutton {
  position: absolute;
  right: 180px;
  text-decoration: none;
  top: 15px;
  cursor: pointer;
}
#settings-unsaved-popup-resetbutton:hover {
  text-decoration: underline;
}
#settings-unsaved-popup-applybutton {
  color: #fff;
  position: absolute;
  right: 10px;
  top: 7px;
  border: none;
  cursor: pointer;
  border-radius: 5px;
  font-size: 16px;
  padding: 10px 10px;
  background-color: #23a55a;
}
#settings-unsaved-popup-applybutton:hover {
  background-color: #14773d;
}
.pop-up-append {
  font-size: 16px;
  width: 20%;
  height: 5%;
  background-color: #5865f2;
  color: white;
  border: none;
  border-radius: 3px;
  cursor: pointer;
  position: fixed;
  z-index: 1;
  top: 95%;
  left: 85%;
  transition: background-color 0.3s ease;
  transform: translate(-50%, -50%);
}
.common-button {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding: 10px;
  color: white;
  font-weight: 200;
  border: none;
  position: fixed;
  bottom: 10px;
  width: 100px;
  font-size: 16px;
  height: 10%;
  border-radius: 5px;
  cursor: pointer;
}

.copied-pop {
  position: fixed;
  z-index: 15;
  background: black;
  color: white;
  padding: 5px;
  border-radius: 5px;
  pointer-events: none;
}
.profile-sections-bar {
  gap: 10px;
  align-items: center;
  display: flex;
}
.profile-section-button {
  background-color: transparent;
  border: none;
  padding: 5px;
  margin: 0;
  color: lightgray;
  font-size: 0.8em;
  cursor: pointer;
}

.profile-sections-line {
  border: none;
  width: 100%;
  border-top: 1px solid #37393f;
  transform: rotate(180deg);
  z-index: 1;
}
.profile-sections-line-button {
  border: none;
  width: 1px;
  border-top: 1px solid #37393f;
  transform: rotate(180deg);
  z-index: 1;
}
.profile-section-button .selected {
  border-top: 1px solid white !important;
}

.profile-content {
  font-size: 0.8em;
  margin-left: 15px;
}
#profile-container {
  display: flex;
  margin-top: 28vh;
}
#profile-title {
  color: white;
  font-size: 1em;
  user-select: text;
  font-weight: bold;
}
#profile-discriminator {
  font-weight: bold;
  color: rgb(181, 186, 193);
  font-size: 0.8em;
  margin-top: 3em;
  user-select: text;
  position: fixed;
}
.profile-dots3 {
  cursor: pointer;
  border-radius: 50%;
  color: white;
  width: 32px;
  height: 32px;
  display: flex;
  background-color: rgb(17, 18, 20);
  border: none;
  margin-right: 15px;
  margin-top: 12px;
  color: #b5bac1;
}
.profile-dots3-text {
  font-size: 20px;
  pointer-events: none;
  margin-top: 2px;
  text-indent: 0.5px;
  user-select: none;
}
.profile-display {
  width: 20%;
  max-width: 120px;
  aspect-ratio: 1;
  object-fit: cover;
  border: solid rgb(17, 18, 20) 8px;
  top: 14.2vh;
  left: 16px;
  position: absolute;
  border-radius: 50%;
  cursor: pointer;
  transition: border-radius 0.2s ease-out;
}

.profile-options-container {
  font-size: 16px;
  margin-left: auto;
  display: flex;
  justify-content: flex-end;
  flex-direction: row-reverse;
  position: absolute;
  right: 0px;
}
.profile-send-msg-button {
  cursor: pointer;
  border: none;
  background-color: rgb(78, 80, 88);
  color: white;
  height: 32px;
  width: 90px;
  margin-right: 16px;
  margin-top: 25px;
  border-radius: 5px;
  display: flex;
  align-items: center;
}

.profile-send-msg-button svg {
  margin-right: 8px;
}

.profile-add-friend-button {
  cursor: pointer;
  border: none;
  background-color: rgb(88, 101, 242);
  color: white;
  height: 32px;
  width: 130px;
  margin-right: 16px;
  margin-top: 25px;
  display: flex;
  align-items: center;
  padding: 0;
  border-radius: 5px;
  text-indent: 5px;
}
.profile-add-friend-button-pending {
  background-color: rgb(78, 80, 88) !important;
  width: 30px;
  opacity: 0.6;
}
.icon-container {
  display: flex;
  align-items: center;
  margin-left: 15px;
  justify-content: center;
  pointer-events: none;
}
.profile-add-friend-button-pending .icon-container {
  margin-left: 8px;
}
#invite-users-send-text {
  font-weight: bold;
  color: rgb(181, 186, 193);
  font-size: 12px;
  padding-left: 20px;
}
#profile-about-title {
  font-weight: bold;
  color: rgb(181, 186, 193);
  font-size: 17px;
  user-select: text;
  padding-left: 20px;
}
#profile-about-description {
  font-weight: bold;
  color: rgb(181, 186, 193);
  font-size: 17px;
  padding-left: 20px;
}

.password-title {
  background-color: transparent;
  border: none;
  box-sizing: border-box;
  color: #fff;
  position: relative;
  width: 255px;
  margin-left: 25px;
  padding: 20px;
  margin-top: -20px;
}

.password-input {
  background-color: #333339;
  border: none;
  box-sizing: border-box;
  color: #fff;
  padding: 12px;
  position: relative;
  width: 88%;
  margin-left: 25px;
  outline: #37373e;
  margin-top: -30px;
}
.shared-guilds-list {
  background-color: transparent;
  width: 100%;
  display: grid;
  grid-template-columns: 1fr;
  gap: 8px;
  padding: 10px 5px;
}

.shared-guilds-list li {
  display: flex;
  border-radius: 4px;
  transition: background-color 0.2s ease;
  height: 50px;
  width: 90%;
  border-radius: 5px;
}

.shared-guilds-list li:hover {
  background-color: #2e3035;
}

.shared-guilds-list li img {
  margin-left: 0;
  margin-top: 0;
}

.shared-guilds-list li span {
  margin-left: 10px;
  color: #ffffff;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.shared-guilds-content {
  padding: 5px 0;
  width: 100%;
}
