html * {
  font-family: "Inter", sans-serif !important;
  font-weight: 600 !important;
}

body {
  margin: 0;
  display: flex;
  flex-direction: row;
  background-color: #313338;
  overflow-y: hidden;
  overflow-x: hidden;
  min-height: 100vh;
  user-select: none;
}
.black-theme {
  background-color: #1a1a1e !important;
}
.black-theme-2 {
  background-color: #111214 !important;
}
.black-theme-3 {
  background-color: #121214 !important;
}
.black-theme-4 {
  background-color: #202024 !important;
}
table {
  width: 100%;
  border-collapse: collapse;
}
button {
  cursor: pointer;
}
#settings-overlay {
  display: none;
}

.guilds-list
  li
  img:not(
    [src="https://liventcord.github.io/LiventCord/app/images/icons/icon.webp"]
  ):hover {
  border-radius: 0px;
}
.guilds-list li:hover .white-rod {
  display: block;
}
.guilds-list .selected-guild .white-rod {
  display: block;
}
.guilds-list .selected-guild:hover .white-rod {
  display: block;
}
.guilds-list::-webkit-scrollbar {
  width: 4px;
}
.guilds-list::-webkit-scrollbar-thumb {
  background-color: #21222200;
  border-radius: 6px;
}
.guilds-list::-webkit-scrollbar-track {
  background-color: #2b2d31;
}
.outer-parent {
  width: 100%;
  height: 100%;
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 10;
  background-color: #000000b4;
}
#settings-menu button:hover,
#settings-menu button:active,
#settings-menu button.touch-hover {
  background-color: #677bc4;
}

body.black-theme #settings-menu button:hover,
body.black-theme #settings-menu button:active,
body.black-theme #settings-menu button.touch-hover {
  background-color: #2c2c30;
}
body.black-theme .base-overview-name-input {
  background-color: #2c2c30;
}

#settings-menu {
  display: flex;
  flex-direction: row;
  height: 100%;
  width: 100%;
  background-color: #2f3136;
  overflow: hidden;
  border-radius: 15px;
  border: rgb(46, 51, 60) solid 2px;
}
@keyframes settings-menu-scale-appear {
  0% {
    transform: scale(0.7);
    opacity: 0;
  }
  100% {
    transform: scale(0.9);
    opacity: 1;
  }
}
@keyframes settings-menu-scale-disappear {
  0% {
    transform: scale(0.9);

    opacity: 1;
  }
  100% {
    transform: scale(0.7);
    opacity: 0;
  }
}
@keyframes settings-menu-slide-in {
  0% {
    transform: translateY(100%) scale(0.7);
    opacity: 0;
  }
  100% {
    transform: translateY(0) scale(0.9);
    opacity: 1;
  }
}
@keyframes settings-menu-slide-out {
  0% {
    transform: translateY(0) scale(0.9);
    opacity: 1;
  }
  100% {
    transform: translateY(100%) scale(0.7);
    opacity: 0;
  }
}
#settings-self-profile {
  width: 80px;
  height: 80px;
  border-radius: 5px;
  border: solid #202020 5px;
  top: -20px;
  left: 30px;
  position: absolute;
  border-radius: 50%;
  cursor: pointer;
}

#guild-image,
#guild-image-remove {
  width: 100px;
  height: 100px;
  border-radius: 5px;
  top: -100px;
  left: 10px;
  position: absolute;
  border-radius: 50%;
  color: white;
}
#guild-image-remove {
  cursor: pointer;
  top: -20px;
  left: 30px;
}
.fa-camera {
  color: #b5bac1;
  font-size: 24px;
  position: relative;
  top: 150px;
  left: 50%;
  transform: translate(-50%, -50%);
}
#guildImg {
  width: 80px;
  height: 80px;
  border-radius: 50%;
  border: solid #202020 5px;
  position: absolute;
  top: 163px;
  left: 50%;
  transform: translate(-50%, -50%);
  cursor: pointer;
  user-select: none;
}
#guildImg path {
  transform: scale(0.35) translateY(-50px);
  transform-origin: center;
}

#uploadText {
  font-size: 14px;
  color: white;
}
#settings-self-name {
  color: #fff;
  font-size: 20px;
  position: absolute;
  margin-left: 140px;
  top: 20px;
}
.settings-menu-button {
  display: block;
  font-size: 20px;
  padding: 5px 20px;
  border: none;
  border-radius: 5px;
  background-color: #0064cf;
  color: #fff;
}
@keyframes shakeScreenAnimation {
  0% {
    transform: translateX(-5px);
  }
  50% {
    transform: translateX(5px);
  }
  100% {
    transform: translateX(-5px);
  }
}
.shake-screen {
  animation: shakeScreenAnimation 0.1s ease-in-out 10 alternate;
}
.dropdown {
  width: 100%;
  font-size: 16px;
  color: white;
  background-color: #202020;
  min-height: 40px;
  border: 1px solid #444;
  border-radius: 4px;
  padding: 8px;
}
#language-dropdown {
  top: 400px;
}
#guild-name-input {
  padding: 10px;
  background-color: #1e1f22;
  color: white;
  border: none;
  position: fixed;
  bottom: 100px;
  width: 400px;
  font-size: 18px;
  height: 5%;
  margin-left: 10px;
}
.create-guild-verify {
  background-color: #5c64f3;
  right: 10px;
}
.create-guild-back {
  background-color: transparent;
  left: -20px;
}
.create-guild-title {
  top: 60%;
  text-transform: uppercase;
  color: rgb(209, 204, 204);
  left: 10px;
  position: fixed;
  font-weight: bold;
  font-size: 14px;
}
#invite-users-title {
  color: white;
  font-size: 16px;
  padding: 0px 20px;
  padding-left: 20px;
  font-weight: bold;
}

#invite-users-channel-name-text {
  font-weight: bold;
  color: rgb(181, 186, 193);
  font-size: 16px;
  position: fixed;
  top: 6%;
  left: 12%;
}
#invite-users-channel-name-hash {
  color: rgb(181, 186, 193);
  font-size: 25px;
  position: fixed;
  top: 4%;
  left: 4%;
}
#drop-zone-channel-name {
  font-size: 1.5em;
  color: white;
}
.input-container {
  position: fixed;
  left: 50%;
  top: 60%;
  transform: translate(-50%, -50%);
  display: flex;
  align-items: center;
  background-color: rgb(30, 31, 34);
  padding: 5px;
  width: 90%;
  border-radius: 5px;
}

#invite-users-send-input,
.input-container button {
  border: none;
  font-size: 16px;
  height: 35px;
  background-color: rgb(30, 31, 34);
}

#invite-users-send-input {
  padding-left: 10px;
  color: lightgray;
  width: 90%;
  outline: none;
}

.input-container button {
  background-color: #4caf50;
  color: white;
  padding: 8px 0.875rem;
  margin-left: 5px;
  font-size: 14px;
}

#create-channel-send-text {
  color: rgb(181, 186, 193);
  font-size: 13px;
  padding-left: 20px;
  margin-top: -40px;
}
#create-channel-type {
  color: rgb(181, 186, 193);
  font-size: 0.875rem;
  padding-left: 20px;
  font-weight: bold;
  margin-top: -10px;
}
#create-channel-name {
  text-transform: uppercase;
  color: white;
  font-size: 0.875rem;
  padding-left: 20px;
  padding-top: 185px;
  font-weight: bold;
}
#channel-icon {
  color: white;
  font-size: 20px;
  padding-left: 25px;
  margin-top: 280px;
  z-index: 1;
  position: fixed;
}
#create-channel-send-input {
  border: none;
  padding-left: 10px;
  color: lightgray;
  font-size: 16px;
  width: 90%;
  left: 50%;
  text-indent: 18px;
  bottom: 175px;
  position: fixed;
  height: 35px;
  transform: translate(-50%, -50%);
  background-color: rgb(30, 31, 34);
  border: none;
}
#center-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
#create-channel-text-type,
#create-channel-voice-type {
  background-color: rgb(43, 45, 49);
  width: 92%;
  height: 80px;
  position: absolute;
  top: 130px;
  left: 50%;
  transform: translate(-50%, -50%);
}
#create-channel-voice-type {
  top: 220px;
  left: 50%;
  transform: translate(-50%, -50%);
}
#change-nick-button {
  left: 300px;
  position: absolute;
}
#settings-leftbar {
  background-color: #28282d;
  flex: 1;
  padding: 20px;
  overflow-y: auto;
  display: flex;
  flex-direction: column;
}
@media (max-width: 600px) {
  .emoji-container {
    max-width: 95% !important;
  }
  #settings-button {
    position: absolute;
    width: 40px !important;
    margin-top: -0.875rem !important;
    right: 40px !important;
  }
  #settings-leftbar {
    padding: 10px;
    width: 100%;
    flex: unset;
  }
  .settings-buttons {
    padding: 10px 90px;
  }
  #settings-rightbar {
    width: 90vw !important;
  }
  #settings-light-rightbar {
    width: 80vw !important;
  }
  #settings-rightbartop {
    width: 90vw !important;
  }
  #guild-settings-rightbar {
    width: 90vw !important;
  }
  #guild-overview-name-input,
  #set-info-title-guild-name {
    margin-left: 0px !important;
  }
  #set-info-title-guild-name {
    margin-top: 0px;
  }
  #channel-icon {
    padding-left: 10px !important;
  }
}

#settings-leftbar > div {
  display: flex;
  flex-direction: column;
  flex: 1;
}

.settings-buttons {
  font-size: 16px;
  margin: 10px 0;
  padding: 10px 15px;
  width: 100%;
  color: lightgray;
  border: none;
  background-color: transparent;
  border-radius: 5px;
  text-align: left;
  transition:
    background-color 0.2s,
    color 0.2s;
}
.settings-button {
  background-color: #5865f2;
  width: auto;
  height: 35px;
  color: white;
  font-size: 0.9em;
  padding: 5px;
  border: none;
  border-radius: 10px;
}
.settings-buttons-selected {
  background-color: #2e2e33;
}
#change-password-button {
  margin-top: 250px;
}
#change-password-button:hover,
#change-password-button:active,
#change-password-button.touch-hover {
  background-color: #4654c0;
}

#upload-emoji-button {
  margin-top: 50px;
  margin-bottom: 20px;
}

#settings-leftbar .settings-buttons:last-child {
  margin-top: auto;
}

#settings-leftbar::-webkit-scrollbar {
  width: 8px;
  background-color: #202020;
}
#settings-rightbar {
  width: 660px;
  height: 370px;
  border-radius: 10px;
  top: 200px;
  background-color: #202020;
  position: absolute;
}
#guild-settings-rightbar {
  width: 660px;
  height: 370px;
  border-radius: 10px;
  top: 200px;
  background-color: transparent;
  position: absolute;
}
#settings-rightbartop {
  width: 660px;
  height: 250px;
  border-radius: 10px;
  top: 80px;
  background-color: #2f2c27;
  position: absolute;
}
#settings-light-rightbar {
  width: 600px;
  height: 200px;
  border-radius: 10px;
  top: 100px;
  right: 25px;
  background-color: #2b2d31;
  position: absolute;
}
#guild-overview-name-input:hover {
  cursor: not-allowed;
}

#set-info-title-nick,
#set-info-title-email,
#set-info-title-channel-name,
#set-info-title-guild-name {
  padding: 15px 15px;
  margin-right: -25px;
  color: #dddcdc;
  font-size: 16px;
  font-weight: bold;
}
#set-info-title-guild-name {
  margin-left: 320px;
  font-size: 0.875rem;
  margin-top: -100px;
}
#set-info-title-email {
  margin-top: 70px;
}
#set-info-title-channel-name {
  margin-top: -150px;
}
#set-info-nick,
#set-info-email,
#set-info-email-eye {
  position: absolute;
  padding: 50px 15px;
  margin-right: -25px;
  color: #dddcdc;
  font-size: 16px;
  font-weight: bold;
}
#set-info-email,
#set-info-email-eye {
  margin-top: -60px;
}
#set-info-nick {
  margin-top: -50px;
}
#set-info-email-eye {
  padding: 10px 10px;
  margin-left: 540px;
  margin-top: -30px;
}
#settings-title {
  color: #ffff;
  position: absolute;
  white-space: nowrap;
  top: 25px;
}
#left-settings-title {
  left: 440px;
  color: #ffff;
  position: absolute;
  white-space: nowrap;
  text-transform: uppercase;
  top: 50px;
}
.file-upload-input {
  display: none;
}
.file-upload-label {
  display: inline-block;
  padding: 8px 20px;
  background-color: #007bff;
  color: #fff;
  border-radius: 5px;
  cursor: pointer;
  text-align: center;
}
#upload-profile-button {
  position: absolute;
  bottom: 25px;
  right: 300px;
}
#profileImageForm input[type="file"] {
  display: none;
}
#profileImageForm label {
  display: inline-block;
  padding: 8px 20px;
  margin-top: 90px;
  background-color: #1c6bc0;
  color: #fff;
  border-radius: 5px;
  text-align: center;
}
#guildImageForm input[type="file"] {
  display: none;
}
#guildImageForm label {
  display: inline-block;
  padding: 8px 20px;
  margin-top: 90px;
  background-color: #1c6bc0;
  color: #fff;
  border-radius: 5px;
  text-align: center;
}
#clearButton {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0;
  background-color: transparent;
  color: #26242c;
  border: none;
  font-size: 19px;
  position: absolute;
  top: 10px;
  right: 10px;
}
#guildImageForm label {
  display: inline-block;
  padding: 8px 20px;
  margin-top: 90px;
  background-color: #1c6bc0;
  color: #fff;
  border-radius: 5px;
  text-align: center;
}
#new-nickname-input {
  width: 100%;
  position: relative;
  margin-top: 130px;
  margin-left: 355px;
  padding: 8px;
  width: 255px;
  box-sizing: border-box;
  border: none;
  color: white;
  background-color: #363636;
}
#new-nickname-input ::placeholder {
  opacity: 1;
  font-weight: bolder;
  font-size: 250px;
}
.base-overview-name-input {
  width: 100%;
  position: relative;
  padding: 10px;
  width: 255px;
  box-sizing: border-box;
  border: none;
  color: white;
  background-color: #121214 !important;
}
.base-overview-name-input:disabled {
  color: #888;
  cursor: not-allowed;
}
.base-overview-name-input:disabled:focus {
  outline: none;
}
#guild-overview-name-input {
  margin-bottom: 100px;
  margin-left: 335px;
}
#channel-overview-name-input {
  margin-bottom: 100px;
  margin-left: 15px;
}

@keyframes rotate360 {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
#settings-button:hover svg {
  animation: rotate360 1s linear;
}

#settings-button:not(:hover) svg {
  animation: none;
}

#self-profile-image {
  border-radius: 25px;
  transition: border-radius 0.3s;
}
#self-profile-image:hover {
  border-radius: 0px;
}
#self-profile-image:hover + #self-bubble {
  display: none;
}

#loading-screen {
  position: fixed;
  width: 100%;
  height: 100%;
  background-color: #313338;
  justify-content: center;
  align-items: center;
  color: #313338;
  z-index: 100;
}
:root {
  --rotation-speed: 0.5s;
  --delay-speed: 1.2s;
}
#loading-element {
  width: 100px;
  height: 100px;
  position: absolute;
  left: 50%;
  top: 50%;
  z-index: 501;
  transform: translate(-50%, -50%);
  animation:
    bounceScale 1s ease-in-out infinite,
    linear infinite;
}

@keyframes bounceScale {
  0%,
  100% {
    transform: translate(-50%, -50%) scale(1, 1) translateY(0);
    filter: drop-shadow(0 0 0px #3232ff);
  }
  25% {
    transform: translate(-50%, -50%) scale(1.1, 0.9) translateY(10px);
    filter: drop-shadow(0 0 10px #3232ff);
  }
  50% {
    transform: translate(-50%, -50%) scale(0.9, 1.1) translateY(-30px);
    filter: drop-shadow(0 0 15px #3232ff);
  }
  75% {
    transform: translate(-50%, -50%) scale(1.05, 0.95) translateY(5px);
    filter: drop-shadow(0 0 10px #3232ff);
  }
}

@keyframes colorShift {
  0% {
    filter: hue-rotate(0deg);
  }
  100% {
    filter: hue-rotate(360deg);
  }
}

@keyframes delayAnimation {
  0%,
  50% {
    opacity: 0;
  }
  51%,
  100% {
    opacity: 1;
  }
}

#close-settings-button {
  width: 36px;
  height: 36px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: oklab(0.786807 -0.0025776 -0.0110238);
  background-color: #ffffff00;
  border: 2px solid oklab(0.786807 -0.0025776 -0.0110238);
  border-radius: 50%;
  margin-left: 95%;
  margin-top: 20px;
  box-shadow: 0 0 4px rgba(0, 0, 0, 0.2);
  z-index: 1;
  overflow: hidden;
  position: absolute;
  right: 50px;
}

#close-settings-button svg {
  width: 18px;
  height: 18px;
  fill: oklab(0.786807 -0.0025776 -0.0110238);
}

#close-keybind {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 13px;
  position: fixed;
  margin-top: 65px;
  color: oklab(0.786807 -0.0025776 -0.0110238);
}

#settings-rightcontainer {
  color: white;
  flex: 2;
  display: flex;
  flex-direction: column;
  padding: 20px;
  gap: 20px;
  background-color: #333339;
  border-left: 1px solid #444;
  overflow: scroll;
  padding-bottom: 30vh;
  height: 90%;
}

#settings-rightcontainer::-webkit-scrollbar {
  width: 6px;
}
#settings-rightcontainer::-webkit-scrollbar-thumb {
  background-color: #21222200;
  border-radius: 6px;
}
#settings-rightcontainer::-webkit-scrollbar-track {
  background-color: #2b2d31;
}

.toggle-card {
  display: flex;
  flex-wrap: wrap;
  padding: 10px;
  align-items: center;
  justify-content: space-between;
  position: relative;
}
.toggle-card label:nth-child(1) {
  font-size: 16px;
  color: white;
  flex: 1 1 100%;
}
.toggle-card label:nth-child(2) {
  color: lightgray;
  font-size: 0.875rem;
  flex: 1 1 100%;
}
.toggle-card .toggle-box {
  width: 50px;
  height: 25px;
  border-radius: 14px;
  background-color: rgb(128, 132, 142);
  position: absolute;
  right: 10px;
  bottom: 10px;
  transition: background-color 0.3s;
  cursor: pointer;
}
.toggle-box .icon {
  position: absolute;
  width: 25px;
  height: 20px;
  transition: transform 0.3s;
  transform: translateX(0);
}
.toggle-switch {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  position: absolute;
  top: 2.5px;
  transition: transform 0.3s;
}
.enabled-toggle {
  opacity: 0;
}
.disabled-toggle {
  opacity: 0;
}
.toggle-box {
  width: 50px;
  height: 25px;
  border-radius: 0.875rem;
  position: relative;
  display: inline-block;
  cursor: pointer;
}
.enabled-toggle {
  opacity: 0;
}

.toggle-switch.active .enabled-toggle {
  opacity: 1;
}
.toggle-switch.active .disabled-toggle {
  opacity: 0;
}
.toggle-switch:not(.active) .enabled-toggle {
  opacity: 0;
}
.toggle-switch:not(.active) .disabled-toggle {
  opacity: 1;
}
.toggle-box.active {
  background-color: rgb(35, 165, 90);
}
.toggle-box.active .toggle-switch {
  transform: translateX(25px);
}
#settings-description {
  font-size: 13px;
  color: rgb(181, 186, 193);
}
/*crop */
#image-to-crop {
  width: 100% !important;
  height: auto !important;
}
#image-container {
  width: 100%;
  height: auto;
}
#cropPopContainer {
  overflow: visible;
}
.cr-slider::-webkit-slider-thumb {
  -webkit-appearance: none !important;
  width: 10px !important;
  height: 20px !important;
  cursor: pointer !important;
  border-radius: 0 !important;
}
.cr-slider::-moz-range-thumb {
  width: 10px !important;
  height: 20px !important;
  cursor: pointer !important;
  border-radius: 0 !important;
}

.textarea:focus {
  outline: none;
}
.emoji-colon {
  margin-bottom: 10px;
}

.table-row {
  border-bottom: 1px solid #3f3f45;
}

.table-cell {
  padding: 10px;
  text-align: center;
}

.emoji-name-cell {
  text-align: left;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 10px;
}

.emoji-container {
  color: #d8d8db;
  font-size: smaller;
  overflow-y: auto;
  margin-left: 20px;
  max-width: 70%;
  width: 100%;
}

.emoji-description {
  font-size: 1em;
}

.emoji-requirements {
  font-size: 0.9em;
}

.emoji-requirement-list {
  list-style-type: none;
  padding-left: 0;
}

.emoji-requirement {
  font-size: 0.85em;
  margin-left: 15px;
  margin-top: 5px;
}

.emoji-file-input {
  display: none;
}

.emoji-divider {
  border: 1px solid #3f3f45;
  margin: 10px 0;
}

.emoji-table-container {
  overflow-x: auto;
}

.emoji-table {
  width: 100%;
  border-collapse: collapse;
}

.emoji-table-header {
  text-align: center;
  padding: 8px;
}

.emoji-delete-button {
  background-color: #242429;
  color: #ed4245;
  border: none;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 5px;
}

.emoji-delete-button:hover {
  background-color: #2e2e34;
}

.emoji-delete-button svg {
  pointer-events: none;
}

#emoji-count {
  color: white;
}

.background-video {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  object-fit: cover;
  z-index: 1;
  pointer-events: none;
  opacity: 1;
  z-index: 1000;
}
#video-url-input {
  position: relative;
  white-space: unset;
  width: unset;
  padding: 10px;
  min-height: 60px;
  max-height: 300px;
}
#video-url-reset-btn {
  padding: 10px 15px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1em;
  white-space: nowrap;
  box-sizing: border-box;
  align-self: flex-end;
}

.error-icon {
  color: red;
  font-size: 1.2em;
}

.theme-selector-container {
  display: flex;
  align-items: center;
  gap: 10px;
  cursor: pointer;
}

.theme-circle {
  display: inline-block;
  width: 70px;
  height: 70px;
  border-radius: 50%;
}

.ash-theme {
  background-color: #323339;
  border: 1px solid #a9a9b0;
}

.dark-theme {
  background-color: #1d1d21;
  border: 1px solid black;
}
