name: "Go CodeQL Analysis"

on:
  push:
    branches: [ "main" ]
    paths:
      - "server/ws-api/**"
      - "server/media-api/**"
  pull_request:
    branches: [ "main" ]
  workflow_dispatch:
  schedule:
    - cron: '17 1 * * 2'

jobs:
  filter:
    runs-on: ubuntu-latest
    outputs:
      go_changed: ${{ steps.filter.outputs.go }}
    steps:
      - uses: actions/checkout@v4
      - name: Detect changes in Go server folders
        id: filter
        uses: dorny/paths-filter@v2
        with:
          filters: |
            go:
              - 'server/ws-api/**'
              - 'server/media-api/**'

  analyze:
    name: Analyze Go Code
    needs: filter
    runs-on: ubuntu-latest
    if: needs.filter.outputs.go_changed == 'true'
    permissions:
      security-events: write
      packages: read
      actions: read
      contents: read

    strategy:
      fail-fast: false
      matrix:
        include:
          - language: go
            build-mode: autobuild

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Initialize CodeQL
        uses: github/codeql-action/init@v3
        with:
          languages: ${{ matrix.language }}
          build-mode: ${{ matrix.build-mode }}
      - if: matrix.build-mode == 'manual'
        shell: bash
        run: |
          echo 'Replace with build commands if needed'
          exit 1

      - name: Perform CodeQL Analysis
        uses: github/codeql-action/analyze@v3
        with:
          category: "/language:${{matrix.language}}"
